html {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to left, #a8c0ff, #3f2b96);
}

.add-item-form {
    margin-top: 2em;
    text-align: center;
}

.add-item-form__paragraph {
    margin-bottom: .8em;
    font-size: 1.3em;
    color: rgb(235, 235, 235);
    border-left: 2px solid #6820EE;
    border-right: 2px solid #CDB5FA;
    width: auto;
}

.add-item-form__add-item-input {
    border: none;    
    border-radius: .5em;
    color: #445157;
    box-shadow: 0px 0px 5px 0px #525252;
    font-size: 1.2em;
    width: 10em;
    outline: none;
    padding: .15em 0 .15em .5em;
}

.add-item-form__add-item-button {
    border: none;
}

.add-item-form__add-item-button > i {
    margin-top: .7em;
    font-size: 1.3em;
    border: none;
    color: #FFFFFF;
}

.add-item-form__add-item-button > i:hover {
    cursor: pointer;
}