html {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #a8c0ff, #3f2b96);
}

.main-window {
    cursor: default;
    text-align: center;
}

.main-window__header {
    margin: .7em auto .7em auto;
    font-size: 2em;
    color: white;
    letter-spacing: 1px;
    border-left: 2px solid rgba(104, 32, 238, 0.486);
    border-right: 2px solid rgb(205, 181, 250);
    width: 8em;
}

.main-window__list__li {
    font-size: 1.5em;
    color: rgb(235, 235, 235);
    list-style-type: none;
}