html {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #a8c0ff, #3f2b96);
}

.main-window {
    cursor: default;
    text-align: center;
}

.main-window__header {
    margin: .7em auto .7em auto;
    font-size: 2em;
    color: #FFFFFF;
    letter-spacing: 1px;
    border-left: 2px solid #6820EE;
    border-right: 2px solid #CDB5FA;
    width: 8em;
}

.main-window__list__li {
    font-size: 1.5em;
    color: #EBEBEB;
    list-style-type: none;
}